body{
    background-color: azure;
    margin:0px;
}
p, ul, li{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
}
a{
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    outline: 0;
}

h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    padding-left: 2vw;
}
h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    
}
h3{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;  
}

div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    width:60%;
    height: auto;
    padding-left: 2vw;
}
